body {
    background-color: #df768e;
    margin: 0;
}
.header {
    background-image: url('../images/japan-m.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 50px 250px;
    color: whitesmoke;
    font-size: larger;
    background-color: #391B22;
}

.div {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 1rem;
    text-align: justify;
    color: rgb(22, 20, 20);
    font-weight: 500;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
